
<body ng-controller="AccountCtrl">

<ion-view title="Who is the lucky recipient?">
  <ion-content class="padding">
    

    <div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label" required>Email</span>
    <input required type="email" placeholder="john@suhr.com">
  </label>
</div>
 
   <div class = "row">

        <button class="button button-xs button-full button-positive" ng-click="send()">Send</button>
    </div>
   
  </ion-content>
</ion-view>

</body>

