

	<ion-view title="Surprise your family and friends">
	  <ion-content class="padding">
	       <div>
	    <img src="img/pandaS.png" class="pandaImg">
	    </div>

	    <div>
	    	<h4>Be with your family, friends and the loved ones, even if you are apart. Go through the steps in the tab bar.</h4>


	    	<div class="row glyff-font">
	    		<a href="#/tab/friends">
	    		<div class="icon ion-heart icon-padding"></div>
	    		</a>
	    	</div>

	    	<h4>Start now and surprise your beloved ones by triggering amazing emotional support in their everyday lives. </h4>

	    </div>


<!--
	    <div>
	    	<button class="button icon-right ion-chevron-right button-calm" ng-click="openLearnMore()">Learn more</button>
	    </div>
-->
	  </ion-content>
	</ion-view>
