<ion-view title="What do you wanna send?">
  <ion-content class="padding">

	<div class="list padding-emotions">


  		<div class="item range range-positive">
    		<i class="icon ion-ios7-sunny-outline"></i>
    			<input type="range" name="volume" min="0" max="100" value="23">
    		<i class="icon ion-ios7-sunny"></i>
  		</div>

  		<div class="item range range-calm">
    		<i class="icon ion-ios7-heart-outline"></i>
    			<input type="range" name="volume" min="0" max="100" value="35">
    		<i class="icon ion-ios7-heart"></i>
  		</div>

  		<div class="item range range-balanced">
    		<i class="icon ion-ios7-star-outline"></i>
    			<input type="range" name="volume" min="0" max="100" value="48">
    		<i class="icon ion-ios7-star"></i>
  		</div>

  		<div class="item range range-energized">
    		<i class="icon ion-ios7-wineglass-outline"></i>
    			<input type="range" name="volume" min="0" max="100" value="59">
    		<i class="icon ion-ios7-wineglass"></i>
  		</div>


  		<div class="item range range-assertive">
    		<i class="icon ion-happy"></i>
    			<input type="range" name="volume" min="0" max="100" value="62">
    		<i class="icon ion-happy"></i>
  		</div>

  		<div class="item range range-royal">
    		<i class="icon ion-ios7-lightbulb-outline"></i>
    			<input type="range" name="volume" min="0" max="100" value="73">
    		<i class="icon ion-ios7-lightbulb"></i>
  		</div>

  		<div class="item range range-dark">
    		<i class="icon ion-ios7-musical-note"></i>
    			<input type="range" name="volume" min="0" max="100" value="82">
    		<i class="icon ion-ios7-musical-notes"></i>
  		</div>


	</div>


  </ion-content>
</ion-view>



