/* Empty. Add your own CSS if you like */

.padding-emotions{
	padding-top: 20px;
}

.glyff-font{
	font-size: 3.2em;
	position: relative;
	left: 40%;
	transform: translate(-40%, 0%);
}

.icon-padding{
	padding-right: 20px;
	color: orangered;
}


.pandaImg{
	position: relative;
	left: 20%;
	transform: translate(-20%, 0%);
}